<h3><%= @task.title %></h3>
<p><%= @task.details %></p>
<%= link_to "Edit task", edit_task_path %>
<br>


<%= link_to "tasks", tasks_path %>
<%= link_to "Delete task", delete_task_path, method: :delete %>
